<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
		<title>Pollo Pepe</title>
		<link type="image/png" rel="icon" href="{{asset('favicon.png')}}">
		<link href="assets/css/main.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="assets/js/main.js"></script>
	</head>
	<body>
  	<header>
				<nav>
					<div class="nav-left">
						<img src="assets/img/logo.png" alt="">
						<div>
							<div></div>
						</div>
					</div>
					<div class="nav-middle"></div>
          <div class="nav-right">
						<ul class="">
	            <li><a href="{{asset('menu')}}">Menú</a></li>
	            <li><a href="{{asset('sucursales')}}">Sucursales</a></li>
	            <li><a href="{{asset('blog')}}">Blog</a></li>
	            <li><a href="{{asset('eventos')}}">Eventos</a></li>
	            <li><a href="{{asset('nosotros')}}">Nosotros</a></li>
	            <li><a href="{{asset('contacto')}}">Contacto</a></li>
	          </ul>
          </div>
				</nav>
    </header>
		<section class="container">
			<div class="push-top"></div>
			<section class="container-wrapper">
				<section class="content">
        	<div style="background:#000;height:170vh;"></div>
				</section>
			</section>
			<div class="push-bottom"></div>
		</section>
		<footer>
			<div class="container-footer">
				<div class="container-max-width">
          <div>FOOTER</div>
				</div>
			</div>
		</footer>
	</body>
</html>
