.container{
  margin: 0 auto;
	min-height: 100%;
	margin-bottom: -100px;
	padding: 0px;
	background: #FFF;
}

html,body{
  text-align: center;
	background: #FFF;
	font-size: 12px;
	margin: 0;
	height: 100%;
	position: relative;
	width: 100%;
}

.container-max-width{
  max-width: 1080px;
	width: 100%;
	display: inline-block;
	position: relative;
}

.push-top{
  height: 60px;
}

.push-bottom{
  height: 100px;
}

header{
  width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
	color: black;
  height: 60px;
  background: #CCC;
  font-size: 18px;
  transition: background 2s linear;
}

header nav{
  height: 100%;
}

.container-wrapper{
  position: relative;
}

ul{
  padding: 0;
	margin: 0;
  text-decoration: none;
}

ul li{
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
}

a{
  text-decoration: none;
	color: inherit;
}

input{
  outline: none;
}

*{
  box-sizing: border-box;
	outline: none;
}

footer{
  background: #CCC;
}

.container-footer{
  height: 100px;
  color: black;
  font-size: 20px;
}

nav{
  display: table;
  width: 100%;
}

.nav-left > :nth-child(1){
  width: 40px;
}

.nav-left{
  display: table-cell;
  vertical-align: middle;
}

.animation{
  background: #FFF;
}

.nav-right{
  display: table-cell;
  vertical-align: middle;
}

.nav-middle{
  display: table-cell;
  width: 30%;
}

ul{
  display: table;
  width: 100%;
}

ul li:nth-child(3n){
  background: #FFF;
}

ul li{
  display: table-cell;
  vertical-align: middle;
}

input[checked="checked"]{
  margin: 10px 0px;
}
